In [1]:
#1 ) Load the dataset (data.csv) using pandas

import pandas as pd
df = pd.read_csv("C:\Seema Python CSV\data.csv")

In [2]:
df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [10]:
# 2) Extract data fromYearsExperience column is a variable named X
X = pd.DataFrame(df["YearsExperience"])

In [13]:
# 3) Extract data from salary column is a variable named Y
Y = pd.DataFrame(df["Salary"])

In [16]:
# 4) Divide the dataset into two parts for training and testing in 66% and 33% proportion

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X, Y, test_size = 0.33, random_state = 1)

In [17]:
# 5) Create and train LinearRegression Model on training set

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, Y_train)

LinearRegression()

In [21]:
# 6) Make predictions based on the testing set using the trained model

y_pred = regressor.predict(X_test)
y_pred = pd.DataFrame(y_pred, columns = ["Predicted"])
y_pred

       Predicted
0   74675.377767
1   91160.028325
2   61853.982889
3   81086.075207
4   67348.866408
5   88412.586566
6  113139.562402
7   44453.518412
8  105813.051043
9   98486.539684

In [22]:
# 7) Check the performance by calculating the r2 score of the model

from sklearn import metrics
import numpy as np
print("Mean Absolute Error:", metrics.mean_absolute_error(Y_test,y_pred))
print("Mean Squared Error:", metrics.mean_squared_error(Y_test,y_pred))
print("Root Mean Squared Error:", np.sqrt(metrics.mean_squared_error(Y_test,y_pred)))

Mean Absolute Error: 5049.818093659744
Mean Squared Error: 37496296.6187984
Root Mean Squared Error: 6123.421969683161